.limitador {
    border-radius: 50px;
    position: relative;
}

.tarjeta-superior{
    position: absolute;
}
section span:first-child{
    font-size: 2.5rem;
}
main{
    margin-bottom: 250px;
    margin-top: 150px;
}
