:root{
    --color-naranja: #ed6436;
}
body {
  font-family: "Nunito", sans-serif;
}
.contenedor-general{
    top: 0;
    background-color: white;
    z-index: 2000;
}
.barras {
  display: none;
}
a {
  color: black;
}
.limitador {
    border-radius: 50px;
    position: relative;
    min-width: 560px;
    max-width: 560px;
    height: 700px;
}
.imagen {
    position: absolute;
    top: 2px;
    width: 1070px;
}

.tarjeta-superior{
    position: absolute;
}
.titulo span:first-child{
    font-size: 2.5rem;
    font-weight: 600;
    color: #ed6436;
}
.titulo span:nth-child(2){
    font-weight: 600;
}
.contenido-principal{
    margin-bottom: 250px;
    margin-top: 150px;
}
.boton{
    border: 3px solid var(--color-naranja);
    color: var(--color-naranja);
    height: 90px;
    font-size: 30px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: 600;
    background-color: white;
}

.contenido-principal .boton{
    flex: 0 250px;
}
.botonbuy{
    width: 200px;
    height: 60px;
    color: black;
    font-size: 25px ;
}
.tarjeta-superior {
    position: absolute;
    background-color: #0000007d;
    color: white;
    text-align: center;
    height: 700px;
}
.boton:hover {
  background-color: var(--color-naranja);
  color: #fff;
}
.desplegable{
    top: 40px;
    left: 0;
    background-color: white;
}
.desplegable li{
    border-bottom: 1px solid rgba(100, 0, 0, 0.16);
}

.navegador:nth-child(2) a:hover,.navegador:nth-child(3) a:hover {
  text-decoration: none;
  color: var(--color-naranja) !important;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--color-naranja);

}
.desplegable li:hover{
     border-bottom: 1px solid rgba(100, 0, 0, 0.075) !important;
}
.desplegable a:hover{
     border-bottom: none !important;
}
.item-list {
  font-size: 18px;
  margin-left: 25px;
}

@media(max-width:950px){
.contenido-principal{
    margin: 0 auto;
    padding: 25px;
}
.imagen {
    width: 800px;
}
.limitador {
    height: 500px;
}
.titulo span:nth-child(2){
    font-size: 5rem;
}
.tarjeta-superior {
    height: 500px;
}
.texto-img{
    align-items: flex-end !important;
}
 .escondido {
    display: none;
  }
.barras {
    display: flex;
  }
  .titulo span:first-child{
    font-size: 1rem;
}
.titulo span:nth-child(2), .titulo span:nth-child(3),.titulo span:first-child{
    justify-content: center !important;
}
.titulo span:nth-child(2){
    font-size: 2rem;
}
.contenido-principal .boton{
    flex: 0 150px;
    min-width: 150px;
    font-size: 20px;
    height: 50px;
}
.imagen {
    width: 400px;
}
.limitador {
    height: 250px;
    min-width: 250px;
    max-width: 250px;
}
.tarjeta-superior {
    height: 250px;
}
}
@media(max-width:400px){




}

